/* Common elements across all pages */
.main {
	background-color: #E0FFFF;
	font-size:18px;
}
	
hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #347C17 inset;
	width: 100%;
}

a {
	font-family: serif;
	font-weight: none;
	text-align: center;
	margin: 0 auto;
	color: #347C17;

}
a:link {
	color: #347C17;
}
a:hover {
	color: #307D7E;
	font-weight:bold

}
a:active {
	color: #347C17;
	
}
a:visited {
	color: #307D7E;
}
footer {
	text-align: center;
	color: #347C17;
}



